<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201509431115-7p782rjht4n1ruvv2oulcpa8no4e7c7a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201509431115-7p782rjht4n1ruvv2oulcpa8no4e7c7a</string>
	<key>API_KEY</key>
	<string>AIzaSyC8tkyu8M7QEStRqjNjtBHddVYy8F8U1d4</string>
	<key>GCM_SENDER_ID</key>
	<string>201509431115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.yandeveloper.ipoke</string>
	<key>PROJECT_ID</key>
	<string>projeto-ipoke-a7b47</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-ipoke-a7b47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201509431115:ios:f0ac7ba183efa8e638aace</string>
</dict>
</plist>